<header>
  <div class="outer-div">
    <div class="logo-div">
      <a href="." aria-label="Home">
        <img
          ngSrc="/PFG-logo.png"
          alt="ERR"
          class="logo"
          height="348"
          width="716"
          sizes="100vw"
        />
      </a>
    </div>
    <div class="nav-link-div">
      <header-nav-links />
    </div>
    <div class="login-btn-div">
      <button type="button" class="login-btn">Login / Register</button>
    </div>
    <div class="mobile-nav-link-div" (click)="handleMobileNavMenu()">
      <div
        [class]="{
          'hamburger-div-line': true,
          'is-open': mobileNavOpen,
          'is-closed': !mobileNavOpen,
        }"
      ></div>
      <div
        [class]="{
          'hamburger-div-line': true,
          'opacity-0': mobileNavOpen,
          'opacity-50 group-hover:opacity-100': !mobileNavOpen,
        }"
      ></div>
      <div
        [class]="{
          'hamburger-div-line': true,
          'is-open-bottom': mobileNavOpen,
          'is-closed-bottom': !mobileNavOpen,
        }"
      ></div>
      @if (mobileNavOpen) {
        <header-mobile-nav-links />
      }
    </div>
  </div>
</header>
