<header>
  <div class="outer-div">
    <div class="logo-div">
      <a href="." aria-label="Home">
        <img
          ngSrc="/PFG-logo.png"
          alt="ERR"
          class="logo"
          height="348"
          width="716"
          sizes="100vw"
        />
      </a>
    </div>
    <div class="nav-link-div">
      <header-nav-links />
    </div>
    <div class="login-btn-div">
      <button type="button" class="login-btn">Login / Register</button>
    </div>
    <div class="mobile-nav-link-div">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </div>
  </div>
</header>
